@use "uswds-core" as *;

.dashboard {
    
    #header {
        background-color: color('success-dark');
    }
    
    #site-name {
        font-weight: bold;
        color: white;
    }

    .module h2, .module caption, .inline-group h2 {
        background-color: color('success-dark');
    }

    .submit-row a.deletelink {
        height: auto;
    }


}